h1 {
	color: white;
}

p {
	text-align: left;
	color: white;
}
.red_text {
	color: red;
}

head {
	background-color: black;
}

body {
	background-color: black;
}

/*Dette er en CSS comment.*/
#kulTekst 
{
	color: blue;
	font-size: 2em;
}

#test {
    color: white;
}